@mixin zero-config($margin,$padding){
    margin: $margin;
    padding: $padding;
}
@mixin div-size($width,$height){
    width: $width;
    height: $height
}   
@mixin div-style($bgColor){
    background-color: $bgColor;
}
@mixin flex-config($d,$j,$a){
    display: flex;
    flex-direction: $d ;
    justify-content: $j ;
    align-items: $a ;
}
@mixin relative-center(){
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

}